.profile {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.profile__info__left {
    background-color: aliceblue;
    color: #7f5c57;
}

.profile__portfolio {
    justify-content: center;
}

.profile__button {
    text-decoration: none;
    background-color: #986e68;
    color: white;
    padding: 5px 30px 5px 30px;
    display: inline;
    margin: 10px;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    transition-duration: .3s;
}

.profile__button:hover {
    background-color: white;
    color: #986e68;
    border-color: #986e68;
}

hr {
    width: 20%;  
    height: 2px;
    background-color: #4c3734;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;
    border-color: #4c3734;  
}