.profile {
    display: flex;
    /* justify-content: space-around; */
    padding: 10px;
    letter-spacing: .05em;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: width;
    /* align-items: center; */
    justify-content: center;
}

.profile__info__left {
    background-color: #ffe9e7;
    color: #7f5c57;
    width: 75vmin;
    min-width: 50vmin;
    /* flex: 1; */
    /* min-height: 50vmin; */
    /* height: %; */
    margin: 1vw;
    /* justify-content: center; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.profile__info__right {
    display: flex;
    /* flex-wrap: wrap; */
    /* width: 50%; */
    min-width: 50vmin;
    width:  75vmin;
    margin: 1vw;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}

.profile__photo__container {
    width: 60%;
    height: 50%;
}

img {
    object-fit: contain;
    max-width:100%;
    max-height:100%;
    border-radius: 50%;
}

.profile__greeting {
    font-size: calc(10px + 1.5vmin);
    font-weight: bolder;
    text-align: left;
}

.profile__portfolio {
    justify-content: center;
    flex-wrap: wrap;
}

.profile__summary {
    font-size: calc(10px + 1.5vmin);
    font-weight: bold;
    text-align: left;
}

.profile__button {
    font-size: 1.5vmax;
    max-width: 1.5vmax;
    text-decoration: none;
    background-color: #986e68;
    color: white;
    padding: .25em 2em .25em 2em;
    margin: .5em;
    border-radius: .5em;
    border-width: .1em;
    border-color: #986e68;
    border-style: solid;
    transition-duration: .3s;
    flex: 2 1 auto;
}

.profile__button:hover {
    background-color: white;
    color: #986e68;
    border-color: #986e68;
}

.profile__title {
    font-size: calc(10px + 2vmin);
    font-weight: bolder;
}

.profile__name {
    letter-spacing: .05em;
}

hr {
    width: 20%;  
    height: 2px;
    background-color: #4c3734;  
    margin-bottom: 7px;  
    margin-right: auto;  
    margin-left: auto;  
    margin-top: 9px;
    border-color: #4c3734;  
}

.profile__about {
    text-align: left;
    font-weight: 500;
    font-size: calc(2px + 1.6vmin);
}

.jobTitle {
    font-size: calc(10px + 2vmin);
    padding-right: 10px;
    padding-left: 10px;
}
