
/* BEM
B = Block (parent)
E = element inside block (child)
M = modifier that changes the style 
*/
navbar {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.navbar-item {
    padding: 10px;
    text-decoration: none;
}
