.projects {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    color: black;
}

.projects__subheader {
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}