.projects {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    border: 3px solid #986e68;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10vh;
    width: 50%;
}

.projects__preview {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    color: black;
    border: 3px solid #986e68;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10vh;
    width: 50%;
    text-align: left;
}

.projects__preview__info {
    padding-right: 10px;
    padding-left: 10px;

}

.projects__preview a {
    font-size: calc(12px + 2vmin);
    font-weight: bold;
}

.projects__subheader {
    font-weight: 300;
    letter-spacing: .09em;
    text-transform: uppercase;
}